@import url('minireset.css/minireset.css');

@font-face {
    font-family: 'Nanum Gothic';
    src: url(./fonts/NanumGothic-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Nanum Gothic';
    src: url(./fonts/NanumGothic-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Nanum Gothic Coding';
    src: url(./fonts/NanumGothicCoding-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Nanum Gothic Coding';
    src: url(./fonts/NanumGothicCoding-Bold.ttf) format('truetype');
    font-weight: 700;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

code {
    font-family: 'Nanum Gothic Coding', monospace;
}
